// Definição das cores principais
$primary-color: #485F73;
$secondary-color: #163840;

// Cores de destaque
$accent-color: #76A68F;
$highlight-color: #80BF9B;

// Outras cores
$background-color: #AABFAD;
$text-color: #333333;